@font-face {
	font-family: "FiraSans";
	src:
		url("../fonts/firasans.woff") format("woff"),
		url("../fonts/firasans.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans Bold";
	src:
		url("../fonts/firasansbold.woff") format("woff"),
		url("../fonts/firasansbold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans Italic";
	src:
		url("../fonts/firasansitalic.woff") format("woff"),
		url("../fonts/firasansitalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "FiraSans Light";
	src:
		url("../fonts/firasanslight.woff") format("woff"),
		url("../fonts/firasanslight.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans Medium";
	src:
		url("../fonts/firasansmedium.woff") format("woff"),
		url("../fonts/firasansmedium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans Regular";
	src:
		url("../fonts/firasansregular.woff") format("woff"),
		url("../fonts/firasansregular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ProximaNova Regular";
	src:
		url("../fonts/proximanovaregular.woff") format("woff"),
		url("../fonts/proximanovaregular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Serif";
	src:
		url("../fonts/ptserif.woff") format("woff"),
		url("../fonts/ptserif.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Serif Bold";
	src:
		url("../fonts/ptserifbold.woff") format("woff"),
		url("../fonts/ptserifbold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PT Serif Italic";
	src:
		url("../fonts/ptserifitalic.woff") format("woff"),
		url("../fonts/ptserifitalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Georgia Italic";
	src:
		url("../fonts/georgiaitalic.woff") format("woff"),
		url("../fonts/georgiaitalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

* {
	box-sizing: border-box;
}

body {
	.font-fira-regular();

	font-size: 12px;
	line-height: 28px;

	background: @body-bg-color;
}

main {
	position: relative;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.nowraped-cover {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	min-width: 967px;
}

.main-content-wrapper {
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 0;
	width: 60%;

	padding-left: 200px;
	// padding-right: 300px;
}
