.font-fira() {
	font-family: "FiraSans", Arial, sans-serif;
}

.font-fira-bold() {
	font-family: "FiraSans Bold", Arial, sans-serif;
	font-weight: bold;
}

.font-fira-italic() {
	font-family: "FiraSans Italic", Arial, sans-serif;
	font-style: italic;
}

.font-fira-light() {
	font-family: "FiraSans Light", Arial, sans-serif;
}

.font-fira-medium() {
	font-family: "FiraSans Medium", Arial, sans-serif;
}

.font-fira-regular() {
	font-family: "FiraSans Regular", Arial, sans-serif;
}

.font-proximanova-regular() {
	font-family: "ProximaNova Regular", Arial, sans-serif;
}

.font-ptserif() {
	font-family: "PT Serif", Arial, sans-serif;
}

.font-ptserif-bold() {
	font-family: "PT Serif Bold", Arial, sans-serif;
	font-weight: bold;
}

.font-ptserif-italic() {
	font-family: "PT Serif Italic", Arial, sans-serif;
	font-style: italic;
}

.font-georgia-italic() {
	font-family: "Georgia Italic", Arial, sans-serif;
	font-style: italic;
}
