@body-bg-color: #f7f7f7;

@left-sidebar-bg-color: #34363b;
@left-sidebar-logo-color: #d6d7d8;
@left-sidebar-text-color: #afb0b3;
@left-sidebar-text-color-hover: #389d94;
@left-sidebar-item-border-color: #3e3f44;
@left-sidebar-item-border-left-color-hover: #39b8ab;
@left-sidebar-icons-color: #7b7c7f;
@left-sidebar-icons-color-hover: #39b4a8;
@left-sidebar-user-block-bg-color: #2c2f34;
@left-sidebar-user-name-color: #ffffff;
@left-sidebar-user-status-color: #808285;

@page-header-input-text-color: #191c21;
@page-header-input-border-color: #b7b6ba;
