.left-sidebar {
	position: absolute;
	top: -57px;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;

	width: 200px;
	// min-height: 680px;

	background: @left-sidebar-bg-color;
}

.left-sidebar__content-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100;

	display: flex;
	flex-direction: column;

	width: 200px;
	padding-top: 24px;
}

.left-sidebar__logo {
	flex-shrink: 0;
	align-self: center;

	font-size: 0;
	line-height: 0;

	opacity: 0.6;
	svg {
		width: 114px;
		height: 33px;

		fill: red;
		// background: @left-sidebar-logo-color; // временно
	}
}

.left-sidebar__list {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	margin: 0;
	padding-top: 18px;
	padding-bottom: 2px;
	padding-left: 24px;

	list-style: none;
}

.left-sidebar__item:last-child {
	span {
		border: none;
	}
}

.left-sidebar__item-link {
	display: flex;
	justify-content: space-between;
	align-items: center;

	line-height: 54px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;

	color: @left-sidebar-text-color;

	transition: all 0.3s ease;

	&:hover {
		color: @left-sidebar-text-color-hover;

		span {
			border-right: 5px solid @left-sidebar-item-border-left-color-hover;
		}

		svg {
			fill: @left-sidebar-icons-color-hover;
		}
	}



	span {
		display: flex;
		align-items: center;
		width: 137px;
		// flex-grow: 1;
		border-bottom: 1px solid @left-sidebar-item-border-color;

		transition: all 0.3s ease;
	}

	svg {
		// margin-top: 18px;
		fill: @left-sidebar-icons-color;
		transition: all 0.3s ease;
	}
}

.lift-sidebar__item-counter-block {
	// position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 22px;
	height: 16px;
	padding-top: 3px;
	margin-bottom: 3px;
	margin-left: 15px;

	.font-fira-bold();
	font-style: normal;
	color: #191c21;

	background: #ffb957;
	border-radius: 6px;
}

.left-sidebar__user-block {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;

	padding: 34px 0;

	background: @left-sidebar-user-block-bg-color;
}

.left-sidebar__user-photo {
	width: 68px;
	height: 70px;

	line-height: 0;

	border-radius: 50%;

	overflow: hidden;
}

.left-sidebar__user-name {
	padding-top: 16px;

	.font-fira-medium();
	font-size: 14px;

	color: @left-sidebar-user-name-color;
}

.left-sidebar__user-status {
	padding-top: 3px;

	.font-proximanova-regular();
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;

	color: @left-sidebar-user-status-color;
}

// Only popup view

.left-sidebar--popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 200px;
	padding-top: 374px;

	background: @left-sidebar-bg-color-popup;
}

.left-sidebar__login-text {
	padding-bottom: 34px;

	text-transform: uppercase;
	letter-spacing: 2px;
	color: @left-sidebar-login-text-color;
}

.left-sidebar__sign-btn {
	padding-top: 7px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;

	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	color: @left-sidebar-login-text-color;

	background: @left-sidebar-sign-btn-bg-color;
	border-radius: 30px;
}
