.page-footer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;

	margin-top: 30px;
	margin-right: 324px;
	margin-left: 225px;
	padding-bottom: 29px;

	border-top: 1px solid @page-footer-border-color;
}

.page-footer__list {
	display: flex;
	flex-direction: row;

	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 18px;
	padding-bottom: 24px;

	line-height: 0;
	list-style: none;
}

.page-footer__list-item {
	padding-right: 36px;

	a {
		display: flex;

		color: @page-footer-list-item-text-color;
		font-size: 11px;
		line-height: 12px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.page-footer__content-wrapper {
	display: flex;
	flex-direction: row;
}

.page-footer__text {
	margin: 0;

	font-size: 13px;
	line-height: 20px;
	color: @page-footer-text-color;
}

.page-footer__social-block {
	display: flex;
	flex-direction: row;

	padding-left: 51px;
}

.page-footer__social-btn {
	font-size: 0;
	line-height: 0;

	&:hover {
		svg {
			fill-opacity: 0.8;
		}
	}

	&--vimeo {
		svg {
			width: 19px;
			height: 16px;
		}
	}

	&--twitter {
		svg {
			width: 19px;
			height: 15px;
		}
	}

	&--pinterest {
		svg {
			width: 16px;
			height: 18px;
		}
	}

	&--google {
		svg {
			width: 17px;
			height: 16px;
		}
	}

	svg {
		margin-left: 13px;

		fill: @page-footer-social-icons-color;
		fill-opacity: 0.4;

		transition: all 0.3s ease;
	}
}
