.popular-places {
	.container();

	padding-bottom: 0;

	&__title {
		.container-title();
	}

	&__items {
		.row();
	}

	&__item {
		.row-item-ver-2();

		&:hover {
			.popular-places__image::before,
			.popular-places__details-name,
			.popular-places__details-text {
				opacity: 1;
			}
		}
	}

	&__image {
		.row-item-image-ver-2();
		justify-content: space-between;

		&-footer {
			position: relative;
			z-index: 14;

			display: flex;
			flex-direction: row;
			justify-content: center;

			padding-bottom: 10px;
		}

		&:hover {
			.popular-places__details-name {
				opacity: 1;
			}

			.popular-places__details-text {
				opacity: 1;
			}

			.popular-places__info-item {
				opacity: 1;
			}
		}

		&--prague {
			background-image: url("../img/places/prague.jpg");
		}

		&--polignano {
			background-image: url("../img/places/polignano-a-mare.jpg");
		}

		&--paris {
			background-image: url("../img/places/paris.jpg");
		}

		&--brno {
			background-image: url("../img/places/brno.jpg");
		}

		&--milan {
			background-image: url("../img/places/milan.jpg");
		}

		&--helsinki {
			background-image: url("../img/places/helsinki.jpg");
		}

		&--louvre {
			background-image: url("../img/places/louvre.jpg");
		}

		&--notre-dame {
			background-image: url("../img/routes/marseille.jpg");
		}

		&--fine-arts {
			background-image: url("../img/places/paris.jpg");
		}

		&--vieille-charite {
			background-image: url("../img/places/milan.jpg");
		}

		&--pharo {
			background-image: url("../img/destinations/la-rochelle.jpg");
		}

		&--eiffel-tower {
			background-image: url("../img/places/helsinki.jpg");
		}
	}

	&__details-name {
		.hidden-name-light();
	}

	&__details-text {
		.hidden-text();
	}

	&__favorite {
		.favorite();
	}

	&__best {
		.mark();

		position: absolute;
		top: 8px;
		right: 7px;
	}

	&__low-price {
		.mark(@mark-low-price-color);

		position: absolute;
		top: 8px;
		right: 7px;
	}

	&__info-item {
		position: relative;

		display: flex;
		flex-direction: row;
		align-items: center;
		height: 18px;

		transition: all 0.3s ease;
		opacity: 0;

		&:not(:first-child) {
			padding-left: 10px;
		}

		&:not(:last-child) {
			border-right: 1px solid @popular-places-image-footer-text-color;
		}

		span {
			padding-top: 2px;
			padding-right: 11px;
			padding-left: 4px;
			padding-bottom: 1px;

			font-size: 14px;
			line-height: 10px;

			color: @popular-places-image-footer-text-color;
		}

		svg {
			position: relative;

			fill: @popular-places-image-footer-text-color;
		}
	}

	&__name {
		display: flex;

		margin: 0;
		padding-top: 6px;

		.font-fira-medium();
		font-size: 20px;
		line-height: 24px;
		color: @text-dark-color;
	}

	&__country {
		.font-fira-italic();
		font-size: 13px;
		line-height: 18px;
		color: @text-dark-color;
	}

	&__footer {
		.container-footer();
	}

	&__show-more {
		.show-btn();
		align-self: center;
	}
}
