.popup-outer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;

	display: none;

	background: @popup-outer-bg-color;
}

.popup {
	position: absolute;
	top: 213px;
	left: 50%;

	display: none;
	flex-direction: column;
	align-items: center;

	width: 421px;
	margin-left: -210.5px;

	background: @popup-bg-color;

	&--welcome {
		height: 559px;
		padding-top: 216px;

		background: #453b10 url("../img/ocean.jpg") no-repeat 50% 50%;
		background-size: cover;
	}

	&--login {
		padding-top: 57px;
	}

	&--sign-in {
		padding-top: 57px;
	}

	&--current {
		display: flex;
	}
}

.popup--warning  .popup__warning-block {
	display: flex;
}

.popup--warning  .popup__form-login {

	input {
		color: @popup-input-text-color-warning;
	}

	svg {
		fill: @popup-input-icon-color-warning;
	}
}

.popup__welcome-title {
	margin: 0;
	padding-bottom: 56px;

	.font-fira-medium();
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 6px;
	color: @popup-welcome-title-color;
}

.popup__close-icon {
	position: absolute;
	top: 19px;
	right: 19px;

	display: flex;

	width: 16px;
	height: 16px;

	&::before {
		content: "";

		position: absolute;
		top: 7px;
		left: 0;

		width: 15px;
		height: 1px;
		background: #35363b;
		border: 1px solid #939496;
		border-radius: 1px;


		// transform-origin: left center;
		transform: rotate(45deg);
	}

	&::after {
		content: "";

		position: absolute;
		top: 7px;
		left: 0;

		width: 15px;
		height: 1px;
		background: #35363b;
		border: 1px solid #939496;
		border-radius: 1px;

		// transform-origin: left center;
		transform: rotate(-45deg);
	}
}

.popup__main-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	&--login {
		padding-left: 69px;
		padding-right: 62px;
	}

	&--sign-in {
		padding-left: 94px;
		padding-right: 90px;
	}
}

.popup__title {
	margin: 0;
	padding-bottom: 30px;

	.font-fira-medium();
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 2px;
	color: @popup-title-color;
}

.popup__form-login {
	display: flex;
	flex-direction: column;

	width: 100%;

	input {
		display: flex;

		width: 100%;
		padding-top: 9px;
		padding-bottom: 9px;

		font-size: 15px;
		line-height: 20px;
		color: @popup-input-text-color;

		border: none;
		border-bottom: 1px solid @popup-input-border-color;

		&:focus {
			outline: none;
		}
	}

	input[type="checkbox"] {
		display: none;
	}
}

.popup__form-input-wrapper {
	position: relative;

	display: flex;
	width: 100%;

	&:not(:first-of-type) {
		margin-top: 12px;
	}
}

.popup__form-input-icon {
	position: absolute;
	top: 4px;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 31px;
	height: 31px;

	// border: 1px solid @popup-input-icon-color;
	// border-radius: 50%;

	svg {
		width: 46px;
		height: 40px;

		fill: @popup-input-icon-color;
	}
}

.popup__form-row-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// align-items: baseline;

	width: 100%;
	padding-top: 11px;
	padding-bottom: 34px;
}

.popup__form-checkbox-label {
	position: relative;

	display: flex;

	padding-top: 2px;
	padding-left: 22px;

	color: @popup-checkbox-label-color;

	cursor: pointer;

	&::before {
		content: "";

		position: absolute;
		top: 2.5px;
		left: 1px;

		display: flex;
		width: 13px;
		height: 13px;

		border: 1px solid @popup-checkbox-label-color;
		border-radius: 50%;
	}
}

.popup__form-forgot-btn {

	.font-fira-italic();
	color: @popup-form-forgot-btn-color;
}

.popup__form-submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 12px;
	margin-bottom: 39px;
	margin-left: 12px;
	padding-top: 13px;
	padding-bottom: 11px;

	.font-fira-medium();
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: @popup-form-submit-btn-text-color;

	background: @popup-form-submit-btn-bg-color;
	border: none;

	&:active {
		outline: none;
	}
}

.popup__social-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	list-style: none;

	&--fix-width {
		width: 238px;
	}
}

.popup__social-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;

	font-size: 0;
	line-height: 0;

	border-radius: 50%;

	&--facebook {
		background: #3a5897;
	}

	&--google {
		background: #dd4e41;
	}

	&--vk {
		background: #507199;
	}

	&--twitter {
		background: #00aced;
	}

	svg {
		fill: #ffffff;
	}
}

.popup__text-sideborders {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding-bottom: 27px;

	.font-fira-medium();
	font-size: 11px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: @popup-text-color;

	&--fix-width {
		width: 238px;
	}

	&::before {
		content: "";

		display: flex;
		flex-grow: 1;

		height: 1px;
		margin-right: 10px;
		background: #e4e4e4;
	}

	&::after {
		content: "";

		display: flex;
		flex-grow: 1;

		height: 1px;
		margin-left: 10px;
		background: #e4e4e4;
	}
}

.popup__e-mail-btn {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	margin-bottom: 49px;

	text-decoration: none;
	border: 1px solid @popup-mail-btn-border-color;
	border-radius: 15px;

	span {
		padding-top: 7px;
		padding-right: 15px;
		padding-bottom: 5px;
		padding-left: 30px;


		.font-fira-medium();
		font-size: 11px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: @popup-mail-btn-color;
	}

	svg {
		width: 23px;
		height: 22px;

		fill: @popup-mail-icon-color;
	}
}

.popup__footer {
	display: flex;

	width: 100%;
	padding-top: 24px;
	padding-right: 42px;
	padding-bottom: 24px;
	padding-left: 42px;

	border-top: 1px solid @popup-footer-border-color;
}

.popup__conditions {
	margin: 0;

	line-height: 16px;
	color: @popup-conditions-text-color;

	a {
		color: @popup-conditions-link-color;
		text-decoration: none;
	}
}

.popup__warning-block {
	position: absolute;
	left: 0;
	top: -86px;

	display: none;
	flex-direction: column;

	width: 421px;
	height: 86px;
	padding-top: 11px;
	padding-right: 15px;
	padding-left: 74px;

	background: @popup-warning-block-bg-color;
}

.popup__warning-icon {
	position: absolute;
	top: 27px;
	left: 20px;

	svg {
		width: 36px;
		height: 32px;

		fill: #ffffff;
	}
}

.popup__warning-title {
	padding-bottom: 5px;

	.font-fira-bold();
	font-size: 16px;
	line-height: 20px;
	color: @popup-warning-text-color;
}

.popup__warning-text {
	.font-fira-italic();
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	color: @popup-warning-text-color;
}
