.widget {
	display: flex;
	flex-direction: column;

	min-width: 422px;
	padding-top: 34px;
	padding-right: 35px;
	padding-bottom: 67px;
	padding-left: 17px;
}

.widget__header {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-bottom: 17px;

	background: @widget-block-bg-color;
}

.widget__header-image-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 298px;
	padding-top: 16px;
	padding-bottom: 24px;

	background: #8c6b4c url("../img/bicycle.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.widget__header-topic {
	.orange-mark();
}

.widget__text-substrate {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	width: 100%;
	padding-top: 8px;
	padding-bottom: 6px;

	background: rgba(0, 0, 0, 0.5);
}

.widget__header-title {
	display: flex;

	width: 90%;
	padding-right: 10px;
	padding-left: 16px;

	.font-fira-medium();
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: center;
	color: @widget-header-title-color;
}

.widget__header-activity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-top: 17px;
	padding-right: 19px;
	padding-bottom: 20px;
	padding-left: 16px;
}

.widget__header-left-side {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget__likes {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding-right: 18px;

	.font-fira-italic();
	font-size: 14px;
	text-decoration: none;
	color: @widget-header-text-color;

	svg {
		margin-right: 5px;
		margin-bottom: 2px;

		fill: @widget-header-text-color;
	}
}

.widget__header-comments {
	display: flex;

	.font-fira-italic();
	font-size: 14px;
	text-decoration: none;
	color: @widget-header-text-color;
}

.widget__add-link {
	display: flex;
	flex-direction: row;

	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: @widget-header-add-link-color;

	&--fix-width {
		justify-content: flex-end;

		width: 275px;
		padding-right: 18px;
	}

	span {
		display: flex;
		padding-top: 3px;
		padding-right: 6px;
	}

	svg {
		fill: @widget-header-add-link-color;
	}
}

.widget__content {
	display: flex;
	flex-direction: column;

	margin-bottom: 25px;
	padding-top: 36px;
	padding-right: 33px;
	padding-left: 28px;

	background: @widget-block-bg-color;

	&--nopadding {
		padding-top: 0;
	}
}

.widget__date {
	display: flex;
	align-self: center;

	padding-bottom: 13px;

	.font-fira-italic();
	font-size: 14px;
	color: @widget-date-color;
}

.widget__title {
	display: flex;
	align-self: center;

	margin: 0;
	padding-bottom: 40px;

	.font-fira-medium();
	font-size: 28px;
	line-height: 40px;
	letter-spacing: 2px;
	color: @widget-title-color;
}

.widget__text {
	margin: 0;
	padding-bottom: 25px;

	.font-ptserif();
	font-size: 14px;
	line-height: 24px;
	color: @widget-text-color;
}

.widget__text-link {
	display: inline-block;

	text-decoration: none;
	line-height: 16px;
	color: @widget-text-link-color;

	border-bottom: 1px dashed @widget-text-link-color;

	transition: all 0.3s ease;

	&:hover {
		color: @widget-text-link-color-hover;
	}
}

.widget__image {
	display: flex;

	width: 100%;
	max-height: 370px;

	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
	}

	&--vertical {
		align-self: center;

		width: 63%;
		max-height: 1000px;
		margin-bottom: 30px;
	}
}

.widget__blockquote {
	display: flex;

	margin: 0;
	padding-top: 36px;
	padding-bottom: 45px;

	.font-fira-medium-italic();
	font-size: 18px;
	line-height: 30px;
	color: @widget-text-color;

	&--small-padding {
		padding-bottom: 20px;
	}
}

.widget__place-container {
	display: flex;
	flex-direction: column;

	padding-top: 15px;
}

.widget__place-title {
	display: flex;

	margin: 0;
	padding-bottom: 10px;

	.font-fira-medium();
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;

	color: @widget-place-text-color;
}

.widget__place-text {
	display: flex;

	margin: 0;
	padding-bottom: 15px;

	.font-fira-medium();
	font-size: 13px;

	color: @widget-place-text-color;
}

.widget__place-name {
	display: flex;

	margin: 0;
	padding-bottom: 3px;

	font-size: 15px;
	.font-fira-italic();
	text-transform: uppercase;
}

.widget__place-type {
	display: flex;
	padding-bottom: 15px;

	color: @widget-place-type-color;
}

.widget__place {
	display: flex;
	flex-direction: column;

	margin-bottom: 29px;
	background: @widget-block-bg-color;
}

.widget__place-image-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 297px;
	padding-top: 105px;
	padding-bottom: 18px;

	background: url("../img/solomon-museum.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.widget__place-image-container-title {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 390px;
	margin: 0;

	.font-fira-medium();
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 2px;
	text-align: center;

	color: @widget-place-image-container-text-color;
}

.widget__place-image-container-location {
	.font-ptserif-italic();
	font-size: 14px;

	color: @widget-place-image-container-text-color;
}

.widget__place-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	padding-top: 12px;
	padding-bottom: 13px;
}

.widget__place-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 275px;

	padding-left: 15px;
}

.widget__place-info-item {
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	height: 13px;

	&:not(:first-child) {
		padding-left: 10px;
	}

	&:not(:last-child) {
		border-right: 1px solid @widget-place-info-border-color;
	}

	&--ratio {
		svg {
			top: -2px;

			width: 20px;
			height: 19px;
		}
	}

	&--duration {
		svg {
			top: -1px;
		}
	}

	&--price {
		top: -4px;
	}

	span {
		padding-top: 2px;
		padding-right: 11px;
		padding-left: 4px;
		padding-bottom: 1px;

		font-size: 14px;
		line-height: 10px;

		color: @widget-place-info-color;
	}

	svg {
		position: relative;

		fill: @widget-place-info-color;
	}
}

.widget__btn {
	.btn-gray();
	width: 200px;
}

.widget__route {
	display: flex;
	flex-direction: column;

	margin-bottom: 27px;

	background: @widget-block-bg-color;
}

.widget__route-image-container {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 299px;
	padding-top: 25px;
	padding-bottom: 18px;

	background: #808a96 url("../img/bycicle.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.widget__route-topic {
	.orange-mark();

	position: absolute;
	top: 20px;
}

.widget__route-title {
	.text-light(30px, 40px);
	width: 430px;
}

.widget__route-place {
	.text-light(12px, 20px);
	.font-ptserif-italic();
}

.widget__route-icon {
	display: flex;
	background: white;

	svg {
		fill: @widget-route-icon-color;
	}
}

.widget__route-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	padding-top: 12px;
	padding-bottom: 13px;
}

.widget__route-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 275px;
	padding-right: 18px;
	padding-left: 15px;
}

.widget__route-info-item {
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	height: 13px;

	&:not(:first-child) {
		padding-left: 10px;
	}

	&:not(:last-child) {
		border-right: 1px solid @widget-route-info-border-color;
	}

	&--distance {
		svg {
			top: -2px;

			width: 20px;
			height: 19px;
			background: @widget-route-info-color;
		}
	}

	&--transport {
		padding-right: 10px;
	}

	&--duration {
		svg {
			top: -1px;
		}
	}

	span {
		padding-top: 2px;
		padding-right: 11px;
		padding-left: 4px;
		padding-bottom: 1px;

		font-size: 14px;
		line-height: 10px;

		color: @widget-route-info-color;
	}

	svg {
		position: relative;

		fill: @widget-route-info-color;
	}
}

.widget__content-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 26px;
	padding-bottom: 28px;

	border-top: 1px solid @widget-content-footer-border-color;
}

.widget__author-name {
	.text-gray();

	width: 180px;
}

.widget__correction-link {
	.correction-link();
}
