.widget {
	display: flex;
	flex-direction: column;

	min-width: 422px;
	padding-top: 34px;
	padding-right: 35px;
	padding-bottom: 67px;
	padding-left: 17px;

	&__header {
		display: flex;
		flex-direction: column;

		width: 100%;
		margin-bottom: 17px;

		background: @widget-block-bg-color;

		&-image-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			height: 298px;
			padding-top: 16px;
			padding-bottom: 24px;

			background: #8c6b4c url("../img/bicycle.jpg") no-repeat 50% 50%;
			background-size: cover;
		}

		&-topic {
			.orange-mark();
		}

		&-title {
			display: flex;

			width: 90%;
			padding-right: 10px;
			padding-left: 16px;

			.font-fira-medium();
			font-size: 40px;
			line-height: 48px;
			letter-spacing: 1px;
			text-align: center;
			color: @widget-header-title-color;
		}

		&-activity {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			padding-top: 17px;
			padding-right: 19px;
			padding-bottom: 20px;
			padding-left: 16px;
		}

		&-left-side {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-comments {
			.post-comments();
		}
	}

	&__text-substrate {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		width: 100%;
		padding-top: 8px;
		padding-bottom: 6px;

		background: rgba(0, 0, 0, 0.5);
	}

	&__likes {
		.post-likes();
	}

	&__add-link {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		width: auto;

		font-size: 10px;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		color: @widget-header-add-link-color;

		@media @desktop-width {
			padding-right: 18px;
		}

		span {
			display: flex;
			padding-top: 3px;
			padding-right: 6px;
		}

		svg {
			fill: @widget-header-add-link-color;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		// padding-right: 33px;
		// padding-left: 28px;

		// background: @widget-block-bg-color;

		&--nopadding {
			padding-top: 0;
			margin-bottom: 0;
		}
	}

	&__date {
		display: flex;
		justify-content: center;

		width: 100%;
		padding-top: 36px;

		padding-bottom: 13px;

		.font-fira-italic();
		font-size: 14px;
		color: @widget-date-color;
		background: @widget-block-bg-color;
	}

	&__title {
		.text-dark();

		padding-bottom: 40px;
		padding-right: 33px;
		padding-left: 28px;
		text-align: left;

		background: @widget-block-bg-color;
	}

	&__text {
		margin: 0;
		padding-bottom: 25px;
		padding-right: 33px;
		padding-left: 28px;

		.font-ptserif();
		font-size: 14px;
		line-height: 24px;
		color: @widget-text-color;

		background: @widget-block-bg-color;

		&-link {
			display: inline-block;

			text-decoration: none;
			line-height: 16px;
			color: @widget-text-link-color;

			border-bottom: 1px dashed @widget-text-link-color;

			transition: all 0.3s ease;

			&:hover {
				color: @widget-text-link-color-hover;
			}
		}
	}

	&__image {
		.adaptive-image();
	}

	&__blockquote {
		display: flex;

		margin: 0;
		padding-top: 36px;
		padding-bottom: 45px;
		padding-right: 33px;
		padding-left: 28px;

		.font-fira-medium-italic();
		font-size: 18px;
		line-height: 30px;
		color: @widget-text-color;

		background: @widget-block-bg-color;

		&--small-padding {
			padding-bottom: 20px;
		}
	}

	&__place {
		display: flex;
		flex-direction: column;

		padding-top: 15px;
		// display: flex;
		// flex-direction: column;
		//
		// margin-bottom: 29px;
		// background: @widget-block-bg-color;

		&-content {
			// display: flex;
			// flex-direction: column;
			//
			// padding-top: 15px;
			display: flex;
			flex-direction: column;

			margin-bottom: 29px;
			background: @widget-block-bg-color;
		}

		&-title {
			display: flex;

			margin: 0;
			padding-bottom: 10px;

			.font-fira-medium();
			font-size: 20px;
			line-height: 40px;
			text-transform: uppercase;

			color: @widget-place-text-color;
		}

		&-text {
			display: flex;

			margin: 0;
			padding-bottom: 15px;

			.font-fira-medium();
			font-size: 13px;

			color: @widget-place-text-color;
		}

		&-name {
			display: flex;

			margin: 0;
			padding-bottom: 3px;

			font-size: 15px;
			.font-fira-italic();
			text-transform: uppercase;
		}

		&-type {
			display: flex;
			padding-bottom: 15px;

			color: @widget-place-type-color;
		}



		&-image-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			height: 297px;
			padding-top: 18px;
			// padding-top: 105px;
			padding-bottom: 18px;

			background: url("../img/solomon-museum.jpg") no-repeat 50% 50%;
			background-size: cover;

			&-title {
				.text-light();
				// width: 490px;

				letter-spacing: 2px;
			}

			&-location {
				.font-ptserif-italic();
				font-size: 14px;

				color: @widget-place-image-container-text-color;
			}
		}

		&-footer {
			.block-footer();
			// margin-bottom: 10px;
		}

		&-info {
			.block-footer-info();

			&-item {
				.block-footer-info-item();

				&--ratio {
					svg {
						top: -2px;

						width: 20px;
						height: 19px;
					}
				}

				&--duration {
					svg {
						top: -1px;
					}
				}

				&--price {
					svg {
						top: -2px;
					}
				}
			}
		}
	}


	&__btn {
		.btn-gray();
		width: 200px;
		margin-bottom: 15px;

		&--proxima {
			.font-proximanova-regular();
			font-size: 10px;
		}

		@media @desktop-width {
			margin-bottom: 0;
		}
	}

	&__route {
		display: flex;
		flex-direction: column;

		margin-bottom: 27px;

		background: @widget-block-bg-color;

		&-image-container {
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			height: 299px;
			padding-top: 25px;
			padding-bottom: 18px;

			background: #808a96 url("../img/bicycle-1.jpg") no-repeat 50% 50%;
			background-size: cover;
		}

		&-topic {
			.orange-mark();

			position: absolute;
			top: 20px;
		}

		&-title {
			.text-light();
			width: 430px;
			letter-spacing: 2px;
		}

		&-place {
			.text-light(12px, 20px);
			.font-ptserif-italic();
			letter-spacing: 1px;
		}

		&-icon {
			display: flex;
			// background: white;

			svg {
				// fill-rule: evenodd;
				fill: @widget-route-icon-color;
			}
		}

		&-footer {
			.block-footer();
		}

		&-info {
			.block-footer-info();

			&-item {
				.block-footer-info-item();

				&--distance {
					svg {
						top: -2px;

						width: 20px;
						height: 19px;
					}
				}

				&--transport {
					padding-right: 10px;
				}

				&--duration {
					svg {
						top: -1px;
					}
				}
			}
		}
	}


	&__author-name {
		.text-gray();

		width: 180px;
	}

	&__correction-link {
		.correction-link();
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 26px;
		padding-right: 33px;
		padding-bottom: 28px;
		padding-left: 28px;
		margin-bottom: 28px;

		border-top: 1px solid @widget-content-footer-border-color;
		background: @widget-block-bg-color;
	}


	&__comments {
		display: flex;
		flex-direction: column;

		padding-bottom: 32px;

		background: @widget-block-bg-color;
		// display: flex;
		// flex-direction: column;
		//
		// padding-top: 39px;

		&-container {
			display: flex;
			flex-direction: column;

			padding-top: 39px;

			display: flex;
			flex-direction: column;

			padding-right: 42px;
			padding-left: 43px;
			// padding-bottom: 32px;

			background: @widget-block-bg-color;
		}

		&-header {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			padding-top: 26px;
			padding-bottom: 22px;
			margin-bottom: 27px;
			margin-right: 42px;
			margin-left: 43px;

			border-bottom: 1px solid @widget-header-border-color;

			// &::before {
			// 	content: "";
			//
			// 	display: flex;
			//
			// 	width: 90px;
			// }
		}

		&-title {
			.text-dark(20px, 36px, 4px, uppercase);
		}

		&-show-all-link {
			font-size: 10px;
			line-height: 12px;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-decoration: none;

			color: @widget-comments-show-all-color;
			border-bottom: 1px solid @widget-comments-show-all-border-color;
		}

		&-footer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			padding-bottom: 32px;

			// &::before {
			// 	content: "";
			//
			// 	display: flex;
			//
			// 	width: 180px;
			// }
		}

		&-btn {
			.show-btn();
		}

		// &-pagination {
		// 	display: flex;
		// 	flex-direction: row;
		// 	justify-content: flex-end;
		// 	align-items: center;
		//
		// 	width: 200px;
		//
		//
		// 	&-item {
		// 		padding-left: 18px;
		//
		// 		font-size: 14px;
		// 		text-decoration: none;
		// 		color: @widget-comment-paginator-color;
		//
		// 		&--current {
		// 			color: @widget-comment-paginator-current-color;
		// 		}
		// 	}
		//
		// 	&-start {
		// 		.icon-arrow();
		//
		// 		// padding-right: 24px;
		// 		transform: rotate(180deg);
		//
		// 		svg {
		// 			top: 6px;
		// 			left: 0;
		// 		}
		//
		//
		// 		&--hidden {
		// 			display: none;
		// 		}
		// 	}
		//
		// 	&-end {
		// 		.icon-arrow();
		// 		right: -18px;
		// 		padding-right: 24px;
		//
		// 		&--hidden {
		// 			display: none;
		// 		}
		// 	}
		//
		// 	&-elipsis {
		// 		padding-left: 18px;
		//
		// 		color: @widget-comment-paginator-color;
		// 	}
		// }
	}

	&__comment {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding-bottom: 24px;
		margin-left: 59px;
		margin-right: 59px;
		margin-bottom: 27px;

		border-bottom: 1px solid @widget-comment-border-color;

		&--sub {

			.widget__comment-author-avatar {
				margin-left: 85px;
			}
		}

		&-author {
			.text-dark(14px, 20px, normal);
			padding-right: 14px;

			&-avatar {
				.avatar();
				margin-right: 21px;
			}
		}

		&-content {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 16px;

			width: 100%;
		}

		&-from {
			.comment-text-gray();
			flex-grow: 1;
		}

		&-date {
			.comment-text-gray();
		}

		&-text {
			display: flex;
			width: 100%;

			margin: 0;
			padding-bottom: 6px;

			.font-ptserif-italic();
			font-size: 14px;
			line-height: 18px;
			color: @widget-comment-text-color;
		}

		&-reply {
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			font-size: 10px;
			line-height: 10px;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-decoration: none;
			color: @widget-comment-reply-color;

			span {
				padding-top: 6px;
			}

			svg {
				margin-right: 10px;

				fill: @widget-comment-reply-color;
			}
		}
	}

	&__new-comment {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		padding-top: 35px;
		padding-right: 109px;
		padding-bottom: 23px;
		padding-left: 103px;

		border-top: 1px solid @widget-comment-border-color;
		background: @widget-block-bg-color;

		&-user-avatar {
			.avatar();
			margin-right: 24px;
		}

		&-form {
			display: flex;
			flex-direction: column;

			width: 100%;

			textarea {
				padding: 10px 16px;
				margin-bottom: 19px;

				font-size: 10px;
				line-height: 20px;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: @widget-comment-textarea-color;

				border: 1px solid @widget-comment-textarea-border-color;
				border-radius: 20px;

				&:focus {
					outline: none;
				}
			}
		}

		&-btn {
			.btn-gray(@widget-new-comment-btn-color);
			align-self: flex-end;

			width: 108px;

			&:active {
				outline: none;
			}

			&:focus {
				outline: none;
			}
		}
	}

	&__similar {
		padding-top: 13px;

		&-title {
			.visualy-hidden();
		}

		&-container {
			.row();
		}

		&-item {
			.row-item(transparent);

			&:hover  .widget__similar-item-title {
				text-decoration: underline;
			}

			&:hover  .widget__similar-item-image {
				span {
					opacity: 1;
				}
			}

			&-image {
				.adaptive-image(156px);
			}

			&-title {
				display: flex;

				height: 54px;
				padding-top: 10px;
				padding-right: 40px;
				padding-left: 3px;
				margin: 0;
				margin-bottom: 10px;

				.font-fira-medium();
				font-size: 17px;
				line-height: 22px;
				color: @widget-similar-text-color;
				text-overflow: ellipsis;


				overflow: hidden;
			}

			&-footer {
				display: flex;
				flex-direction: row;
				align-items: center;

				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 5px;

				border-top: 1px solid @widget-similar-border-color;
			}

			&-likes {
				.post-likes();
				padding-right: 9px;
			}

			&-comments {
				.post-comments();
			}
		}
	}
}

@media @desktop-width {
	.widget__place-image-container {
		padding-top: 105px;
	}

	.widget__place-image-container-title {
		width: 490px;
	}
}

@media @big-screens-width {
	.widget__add-link {
		&--fix-width {
			width: 275px;
		}
	}
}
